body {
    min-width: 700px;
}

.header {
    height: 50px;
    font-size: 40px;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 10px;
}

.content {
    min-height: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-panel {
    height: 30px;
}

.nav-content {
    height: 500px;
}

.file-part {
    float: left;
    width: 50%;
    height: 100%;
}

.file-address {
    height: 30px;
    width: 100%;
}

.file-list {
    height: 470px;
    overflow: auto;
}

.file-list>ul>li {
    list-style-type: none;
}

.file-list>ul>li>img {
    float: left;
    padding-right: 10px;
}

.footer {
    height: 20px; width: 100%;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    font-size: 15px;
    color: black;

}

.debug {
    padding: 10px;
    border: 1px solid black;
}

