body {
    min-width: 700px;
}

.header {
    /* background-color: red; */
    height: 50px;
    /* width: 100%; */
    font-size: 40px;
    font-style: italic;
    margin-left: 20px;
}

.content {
    /* background-color: green; */
    min-height: 100px;
    /* width: 100%; */
}

.footer {
    /* background-color: blue; */
    height: 20px; width: 100%;
    align-content: center;


    text-align: center;
}

.footer a {
    text-decoration: none;
    font-size: 15px;
    color: black;

}