<div class="btn-group">
    <button type="button" class="btn btn-default">New dir</button>
    <button type="button" class="btn btn-default">Copy</button>
    <button type="button" class="btn btn-default">Cut</button>
    <button type="button" class="btn btn-default">Delete</button>
</div>
<div class="block-conteiner">
    <div class="file-part" id="file-left">
        <div class="block-conteiner">
            <input class="file-address form-control">
            <div class="file-list"></div>
        </div>
    </div>
    <div class="file-part" id="file-right">
        <div class="block-conteiner">
            <input class="file-address form-control">
            <div class="file-list"></div>
        </div>
    </div>
</div>