<div class="btn-group">
    <button type="button" class="btn btn-default">Upload</button>
    <button type="button" class="btn btn-default">Download</button>
    <button type="button" class="btn btn-default">New dir</button>
    <button type="button" class="btn btn-default">Copy</button>
    <button type="button" class="btn btn-default">Cut</button>
    <button type="button" class="btn btn-default">Delete</button>
</div>
<div class="block-conteiner">
    <div class="file-part" id="file-left">
        <div class="block-conteiner">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default file-upbutton" type="button" src="">Up</button>
                </span>
                <input type="text" class="file-address form-control">
            </div>
            <div class="file-list"></div>
        </div>
    </div>
    <div class="file-part" id="file-right">
        <div class="block-conteiner">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default file-upbutton" type="button" src="">Up</button>
                </span>
                <input type="text" class="file-address form-control">
            </div>
            <div class="file-list"></div>
        </div>
    </div>
</div>