<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Helmet Manager</title>

        <link rel="stylesheet" href="/res/site/css/bootstrap.min.css">
        <link rel="stylesheet" href="/res/site/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/res/site/css/style.css">

        <script src="/res/site/js/jquery.min.js"></script>
        <script src="/res/site/js/bootstrap.min.js"></script>
        <script src="/res/site/js/script.js"></script>
    </head>
    <body>
        <div class="header">
            <img height="90%" src="/res/site/img/test.png">
            <div class="header-text">Helmet Manager</div>
            <div class="header-info">
                <div class="battery"></div><img src="/res/site/img/battery.png">
                <div class="phone"></div><img src="/res/site/img/phone.png">
            </div>
            <!-- Header -->
        </div>