<!doctype html>
<html ng-app>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Helmet Manager</title>

        <link rel="stylesheet" href="/res/css/bootstrap.min.css">
        <link rel="stylesheet" href="/res/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/res/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/res/css/style.css">

        <script src="/res/js/jquery.min.js"></script>
        <script src="/res/js/jquery-ui.min.js"></script>
        <script src="/res/js/jquery.iframe-transport.js"></script>
        <script src="/res/js/jquery.fileupload.js"></script>
        <script src="/res/js/bootstrap.min.js"></script>
        <script src="/res/js/angular.min.js"></script>
        <script src="/res/js/script.js"></script>
        <script src="/res/js/${requedjs}.js"></script>
    </head>
    <body>
        <div class="header">
            <img height="90%" src="/res/img/logo.png">
            <div class="header-text"></div>
            <div class="header-info">
                <div class="battery"></div><img src="/res/img/battery.png">
                <div class="phone"></div><img src="/res/img/phone.png">
            </div>
            <!-- Header -->
        </div>