body {
    min-width: 700px;
}

.header {
    height: 50px;
    font-size: 40px;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 10px;
}

.content {
    min-height: 100px;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.nav-panel {

}

.nav-content {
    height: 700px;
    border: 1px solid #ddd;
    border-top-width: 0px;
    padding: 10px;
}

.file-part {
    float: left;
    width: 50%;
    height: 100%;
}

.file-address {
    height: 30px;
    width: 100%;
}

.file-list {
    height: 590px;
    margin-top: 10px;
    overflow: auto;
}

.file-list>ul{
    margin-top: 0px;
    padding: 10px;
}

.file-list>ul>li {
    list-style-type: none;
    /* padding: 2px; */
    padding-left: 4px;
    padding-top: 3px;
    margin: 2px;
    border-radius: 4px;

}

.file-list>ul>li>img {
    float: left;
    padding-right: 10px;
}

.footer {;
    width: 100%;
    align-content: center;
    text-align: center;
}

.footer a {
    text-decoration: none;
    font-size: 15px;
    color: black;

}

.debug {
    margin: 10px;
    border: 1px solid black;
}

.block-conteiner {
    margin: 5px;
}